<h1> SGV - Sistema de Gerenciamento de Vendas </h1>
<h3> Estudos em node.js </h3>

<form action="/autentica" method="POST">
    <table>
        <tr>
            <td>
                E-Mail
            </td>
            <td>
                <input type="text" name="email">
            </td>
        </tr>
        <tr>
            <td>
                Senha
            </td>
            <td>
                <input type="password" name="pass">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" vale="Confirmar">
            </td>
        </tr>
    </table>
</form>